@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@(ViewBag.Title ?? "The Pitcrew - Hotel Manager")</title>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/toastr.min.css")" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pitcrew</a>
            </div>
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/checkin">Check-In</a></li>
                    <li><a href="/availability">Availability</a></li>
                    <li><a href="#">Guest Services</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                </ul>
            </div>
        </nav>
        

        @RenderBody()
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.form.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/toastr.min.js")"></script>
    
    @RenderSection("scripts", false)
</body>
</html>
